#secretary .divider,
#secretary .row{
  padding-left: 15px;
  padding-right: 15px;
}
#secretary .divider hr {
  margin-bottom: 15.5px;
}
#secretary #voice-test{
  display: flex;
}

#secretary #voice-test >button {
  flex:1;
}
