:root {
  --secretary-blue: #2196F3;
  --secretary-grey: #aaa;
}

#secretary * {
  outline: none;
}

#secretary #voice-test{
  display: flex;
}

#secretary #voice-test >button {
  flex:1;
}

#secretary .radio-check {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: stretch;
}

#secretary .filter-option {
  padding-left: 8px;
  padding-right: 8px;
  line-height: 160%;
  transition: 0.2s;
  line-height: 150%;
  width: 6em;
}

#secretary .filter-option.checked {
  border-right: 4px solid var(--secretary-blue);
  color: var(--secretary-blue);
  font-weight: bold;
  z-index: 1;
}

#secretary .filter-span {
  font-weight: bold;
  flex: 1;
  padding-left: 1ex;
  padding-right: 2em;
}

#secretary .dropdown-menu {
  overflow-y: scroll;
  user-select: none;
  cursor: default;
  left: 0;
  width: fit-content;
}

#secretary .ship-select {
  display: flex;
}

#secretary .selection {
  flex-grow: 1;
  min-width: 10em;
  border-left: 1px solid var(--secretary-grey);
  margin-left: -1px;
  height: 15em;
  overflow: scroll;
}

#secretary .selection::-webkit-scrollbar {
  width: 1em;
}

#secretary .select-item {
  padding-right: 8px;
  padding-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 200%;
  width: 18em;
}

#secretary .select-item:hover {
  background: var(--secretary-blue);
}

#secretary .select-item .label {
  background: var(--secretary-blue);
  color: white;
  margin-left: 1ex;
  font-size: 100%;
}

#secretary .select-item:hover .label {
  color: var(--secretary-blue);
  background: white;
}

#secretary .caret {
  display: none;
}
